.blog-page{
    display: flex;
}

.full-story{
    color: rgb(77, 76, 76);
    margin: 20px;
    line-height: 2;
    letter-spacing: 2;
    font-size: large;
}

.related-content{
    margin-top: 110px;
    flex: 1;
    /* width: 120%; */
    height:fit-content;
    padding: 20px 1.5%;
    background-color: #E9E8E8;
    /* overflow-y: scroll; */
    padding-bottom: 20px;
}
.content{
    flex: 2;
}
/* .related-content>p:hover{
    cursor: pointer;
    color: rgb(77, 40, 112);
} */

.other-posts:hover{
    cursor: pointer;
    color: rgb(77, 40, 112);
}

@media screen and (max-width:1106px) {
    .blog-page{
        flex-direction: column;

    }
}