.blog-page{
    display: flex;
    height: 82vh;
}

.full-story{
    color: rgb(77, 76, 76);
    margin: 20px;
    line-height: 2;
    letter-spacing: 2;
    font-size: large;
}

.related-content{
    margin-top: 110px;
    width: 130%;
    height:fit-content;
    padding: 20px 1.5%;
    background-color: #E9E8E8;
    overflow-y: scroll;
    max-height: 400px;
}
/* .related-content>p:hover{
    cursor: pointer;
    color: rgb(77, 40, 112);
} */

.other-posts:hover{
    cursor: pointer;
    color: rgb(77, 40, 112);
}