

.main-container{
        margin:0% 9%;
        border: solid rgba(190, 189, 189, 0.349) ;
        border-width: 0.09px;
        padding-top: 35px;
        padding-left: 1%;
        padding-right: 1%;
        margin-top: 60px;
        min-height: 100vh;
        
}

@media screen and (max-width:400px) {
    .main-container{
        border: none;

    }
}
